@import 'tailwindcss';

:root {
  --radius: 0.75rem;
  --background: oklch(26.9% 0 0);
  --text: oklch(98.5% 0 0);
  --surface: oklch(14.5% 0 0);
  --overlay: oklch(1 0 0 / 0.075);
  --accent: oklch(1 0 0 / 0.05);
}

@theme inline {
  --font-*: initial;
  --font-sans: 'Montserrat', sans-serif;

  --radius-*: initial;
  --radius-xs: calc(var(--radius) - 0.25rem);
  --radius-sm: calc(var(--radius) - 0.125rem);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 0.125rem);

  --color-background: var(--background);
  --color-text: var(--text);
  --color-surface: var(--surface);
  --color-overlay: var(--overlay);
  --color-accent: var(--accent);
}

html {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 3px;
}

html {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--text);
}

#application {
  height: 100dvh;
  width: 100%;
  max-width: var(--container-xl);
  margin: calc(var(--spacing) * 12) auto;
  padding-inline: calc(var(--spacing) * 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
