@import "tailwindcss";

@theme inline {
  --font-*: initial;
  --font-sans: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
